body{background-color: rgb(255, 255, 255);}
body{background-image: linear-gradient(to bottom, rgb(255, 255, rgb(255, 255, 255) 0, 0));}
body{text-align: left;}
header{text-align: center;}
div{text-align: center;}
h1{text-align: center;}